<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Primary Meta Tags -->
  <meta name="title" content="ELEKTRON MEDIA">
  <meta name="description" content="Cuestiona tu Mundo - Próximamente">
  <meta name="keywords"
    content="ciencia, tecnologia, blog, divulgacion, universidad, carabobo, uc, facyt, idea, software,">
  <meta name="robots" content="index, follow">
  <meta name="language" content="Spanish">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://elektron.facyt.uc.edu.ve">
  <meta property="og:title" content="ELEKTRON MEDIA">
  <meta property="og:description" content="Cuestiona tu Mundo - Próximamente">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://elektron.facyt.uc.edu.ve">
  <meta property=" twitter:title" content="ELEKTRON MEDIA">
  <meta property="twitter:description" content="Cuestiona tu Mundo - Próximamente">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <title>ELEKTRON MEDIA - Próximamente</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <style>
    body {
      background-color: #1a1f22;
    }

    img {
      width: 100%;
      height: 100vh;
    }
  </style>
</head>

<body>
  <div class="wrapper">
    <img src="{{ url_for('static', filename='img/Banner-Proximamente800.jpg') }}" alt="elektron-banner">

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>

</html>